<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 配置数据源:加载属性文件的方式 外部资源文件的优先级更高， 外部的会覆盖内部定义的property -->
	<properties resource="mysql.properties">
	</properties>
	<typeAliases>
		<package name="com.briup.bean"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" /> 
				<property name="url" value="${url}" /> 
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mapper/BookDao.xml"/>
		<mapper resource="mapper/CategoryDao.xml"/>
		<mapper resource="mapper/CustomerDao.xml"/>
		<mapper resource="mapper/OrderDao.xml"/>
		<mapper resource="mapper/ShopCarDao.xml"/>
		<mapper resource="mapper/OrderLineDao.xml"/>
		<mapper resource="mapper/AddressDao.xml"/>
	</mappers>
	
</configuration>